#chatSection {
    float: right;
    width: 20%;
    min-height: 40%;
}

#chatSection input {
    width: 80%;
}

#chatPane {
    height: 80%;
}

.myChats {

}

.notification {

}

.peerMsg {

}

.section {
    float: left;
}